
<div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h5>tag Master</h5>
      </div>
      <div class="card-body tab2-card">
        <ul ngbNav #nav="ngbNav" class="nav-tabs" activeId="viewtab" (navChange)="tabChange($event)">
          <li ngbNavItem="addtab">
            <a ngbNavLink>  Add</a>
            <ng-template ngbNavContent>
              <!--Add Start-->
              <form [formGroup]="addForm" (ngSubmit)="Submit()" >
              <div class="form-group row">
                <label for="validationCustom0" class="col-xl-3 col-md-4"
                  ><span>*</span> Name</label
                >
                <input class="form-control col-xl-8 col-md-7" type="text" formControlName="name"  style="margin: 6px"/>
                <div class="col-xl-3 col-md-4"></div>
                <div class="col-xl-8 col-md-7"  *ngIf="f['name'].touched && f['name'].invalid">
                  <span style="color: #dc3545 !important" *ngIf="f['name'].hasError('required')" >{{validationMessage.name.required}} </span>
                  <div class="text-danger" *ngIf="formErrors"> {{formErrors.name}}</div>
                </div>
              </div>
              <div class="pull-right px-2" >
                <button type="submit" class="btn btn-primary" [disabled]="addForm.invalid" >{{buttonText}}</button>
              </div>
              <div class="pull-right " >
                <button type="button" class="btn btn-danger "  (click)="cancelForm()">Cancel</button>
              </div>
            </form>
              <!--Add End-->
            </ng-template>
          </li>
          <li ngbNavItem="viewtab">
            <a ngbNavLink> View </a>
            <ng-template ngbNavContent>
              <!--View Start-->
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="custom-datatable">
                          <ngx-datatable
                            class="bootstrap"
                            [rows]="objRows"
                            [columnMode]="'force'"
                            [headerHeight]="50"
                            [footerHeight]="50"
                            [rowHeight]="'auto'"
                            [limit]="5"
                            (sort)="onSort($event)"
                            (page)="onPage($event)"
                          >
                            <ngx-datatable-column
                              name="Name"
                            ></ngx-datatable-column>
                            <ngx-datatable-column
                              name="Created Date" prop="createdOn"
                            ></ngx-datatable-column>
                            <ngx-datatable-column name="Action">
                              <ng-template let-row="row" ngx-datatable-cell-template >
  
                                  <button type="button" (click)="Edit(row.id)"> <i class="fa fa-edit"></i></button>
                                  <button type="button" (click)="Delete(row.id)"> <i class="fa fa-trash"></i></button>
                              </ng-template>
                              
                          </ngx-datatable-column>
                          </ngx-datatable>
                         
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--View End-->
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
      </div>
    </div>
  </div>
  