<div class="main-header-left d-none d-lg-block">
  <div class="logo-wrapper"><a><img class="blur-up lazyloaded" [src]="logoImage" alt="logo"></a></div>
</div>
<div class="sidebar custom-scrollbar">
  <div class="sidebar-user text-center">
      <div><img class="img-60 rounded-circle" [src]="userImage" alt="User Image">
      </div>
      <h6 class="mt-3 f-14"> {{fullName}} </h6>
      <p> {{emailId}} </p>
  </div>
  <ul class="sidebar-menu">
      <li *ngFor="let menuItem of menuItems" [ngClass]="{active : menuItem.active }">
          <!-- 1st Level Menu -->
          <!-- Sub menu -->
          <a href="javascript:void(0)" class="sidebar-header" *ngIf="menuItem.type === 'sub'"
              (click)="toggleNavActive(menuItem)">
              <app-feather-icon [icon]="menuItem.icon"></app-feather-icon> <span>{{menuItem.title}}</span>
              <i class="fa fa-angle-right pull-right" *ngIf="menuItem.children"></i>
          </a>
          <!-- Link menu -->
          <a class="sidebar-header" *ngIf="menuItem.type === 'link'" [routerLink]="menuItem.path"
              routerLinkActive="active">
              <app-feather-icon [icon]="menuItem.icon"></app-feather-icon> <span>{{menuItem.title}}</span>
          </a>
          <!-- 2nd Level Menu -->
          <ul class="sidebar-submenu" *ngIf="menuItem.children">
              <li *ngFor="let childrenItem of menuItem.children" [ngClass]="{active : childrenItem.active }">
                  <!-- Sub menu -->
                  <a href="javascript:void(0)" class="sidebar-header" *ngIf="childrenItem.type === 'sub'"
                      (click)="toggleNavActive(childrenItem)">
                      <app-feather-icon [icon]="childrenItem.icon"></app-feather-icon>
                      <span>{{childrenItem.title}}</span>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-angle-right pull-right" *ngIf="childrenItem.children"></i>
                  </a>
                  <!-- Link menu -->
                  <a class="sidebar-header" *ngIf="childrenItem.type === 'link'" [routerLink]="childrenItem.path"
                      routerLinkActive="active">
                      <i class="fa fa-circle"></i>
                      <app-feather-icon [icon]="childrenItem.icon"></app-feather-icon>
                      <span>{{childrenItem.title}}</span>
                  </a>
                  <!-- 3rd Level Menu -->
                  <ul class="sidebar-submenu" *ngIf="childrenItem.children">
                    
                      <li *ngFor="let childrenSubItem of childrenItem.children"
                          [ngClass]="{active : childrenSubItem.active }">
                          <!-- Link -->
                          <a class="sidebar-header" *ngIf="childrenSubItem.type === 'link'"
                              [routerLink]="childrenSubItem.path" routerLinkActive="active">
                              <i class="fa fa-circle"></i>
                              <app-feather-icon [icon]="childrenSubItem.icon"></app-feather-icon>
                              <span>{{childrenSubItem.title}}</span>
                          </a>
                      </li>
                  </ul>
              </li>
          </ul>
      </li>
  </ul>
</div>
